*{
  font-family: Geneva, Arial, Helvetica, sans-serif;
}
header{
  text-align: center;
}

.img-coder{
  display: inline-block;
  width:auto;
  margin: 10px;
  border-radius: 5px;
}
select{
  margin-left: 45%;
  margin-bottom: 2%;
}
